@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--red{
		color: $red !important;
	}
}



.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
}



.c-fw{//font-weight
	&--lt{
		font-weight: 300!important
	}
	&--rg{
		font-weight: 400!important
	}
	&--md{
		font-weight: 500!important
	}
	&--sbd{
		font-weight: 600!important
	}
	&--bd{
		font-weight: 700!important
	}
	&--bk{
		font-weight: 900!important
	}
}






.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
}










/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include font-size(16);
		line-height: 1.8;
		@include mq(){
			@include font-size(14);
		}
	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		text-align: center;
		@include font-size(30);
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 30px;
		@include mq(){
			@include font-size(22);
		}
	}
	&__02{
		display: block;
		text-align: center;
		@include font-size(26);
		font-weight: bold;
		margin-bottom: 30px;
		@include mq(){
			@include font-size(20);
		}
		img{
			display: block;
			width: 40px;
			margin: 0 auto 10px;
			@include mq(){
				width: 30px;
				margin-bottom: 5px;
			}
		}
		span{
			display: block;
		}
	}
}

//btn
.c-btn{
	@include flex(center,center,wrap);
	width: 100%;
	max-width: 220px;
	height: 40px;
	background: $red;
	@include font-size(18);
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 3px #b71010;
	border-radius: 5px;
	position: relative;
	@include mq(){
		@include font-size(16);
		max-width: 200px;
	}
	&:hover{
		opacity: 0.7;
	}
	&:active{
		box-shadow: 0 0 $red;
		top: 3px;
	}
}


//fade up
.js-scrollin {
	opacity: 0;
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
	&.active{
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}



