<header id="header">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/logo.svg" alt="img" width="60">
		</a>
		<div class="header-link">
			<a href="#contact" class="c-btn js-scroll">お問い合わせ</a>
		</div>
	</div>
</header>